.App {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.header-color {
    color: #002C5B;
}
.card-footer{
    background-color: white !important;
    border-top: none !important;
}