.App {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.header-color {
    color: #002C5B;
}
.card-footer{
    background-color: white !important;
    border-top: none !important;
}
.pendingBg{
    background-color: rgb(255, 192, 192) !important;
}
.pendingText {
    color: rgb(255, 53, 53);
}
.ongoingBg {
    background-color: rgba(255, 166, 0, 0.198);
}
.ongoingText{
    color: orange;
}
.doneBg {
    background-color: rgba(94, 255, 0, 0.157);
}
.doneText{
    color: rgb(5, 204, 71);
}